.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

#username{
    height: 20px;
    width: 80%;
    border-radius: 10px;
    border: 1px solid grey;
}

#password{
    height: 20px;
    width: 80%;
    border-radius: 10px;
    border: 1px solid grey;
}

#confirmPassword{
    height: 20px;
    width: 80%;
    border-radius: 10px;
    border: 1px solid grey;
}

label, input {
    display: block;
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
    width: 100%;
    padding: 15px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}